@import '../../../../styles/mixins';

.page-admin-agents {
  
  .listings {
    margin-top: 32px;
    padding-bottom: 32px;
    max-height: 500px;
    overflow: auto;

    .data-table thead th {
      position: sticky;
      top: 0;
      background-color: white;
      white-space: nowrap;
      padding-right: 8px;
      z-index: 1;

      button {
        font-weight: inherit;

        &.desc {
          ion-icon {
            transform: rotate(180deg);
          }
        }
      }

      ion-icon {
        font-size: 12px;
        margin-left: 4px;
      }
    }

    .data-table td {
      white-space: nowrap;
      border-left: 1px solid #d8d8d8;
      background-color: white;
    }
  }

  button.button-dark {
    &.inactive {
      background-color: #888888;
    }

    &.active-filter {
      margin-right: 8px;
    }
  }

  .listings-totals {
    margin-top: -40px;
    padding-bottom: 8px;
  }

  .search {
    display: flex;
    align-items: center;

    .search-submit {
      svg {
        width: 1rem;
        height: 1rem;
      }
    }

    button {
      height: 48px;
    }
  }

  th {
    text-align: left;
    padding-left: 8px;
    padding-bottom: 10px;
  }
}
