@import "../../../../../node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "../../../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import '../../../../styles/mixins';

@mixin glideArrow {
  display: block;
  position: absolute;
  background-color: transparent;
  border: 0;
  padding: 0;
  border-radius: 0;
  padding: 0;
  font-size: 32px;
  box-shadow: none;
  padding: 15px;

  top: calc(50% - 30px);

  img {
    width: 20px;
    height: 60px;
  }
}

$arrow-left-left: 20px;
$arrow-right-right: 20px;

.page-listing-image-slider-component {
  .glide {

    .glide__track {
      transform: translateZ(0px);
      transform: translate3d(0,0,0);
      perspective: 1000;
    }

    .glide__slides {
      margin: 0;
    }

    .glide__arrow {
      @include glideArrow();
    }

    .glide__arrow--right {
      right: $arrow-right-right;

      img {
        transform: rotate(180deg);
      }
    }

    .glide__arrow--left {
      display: none;
      left: $arrow-left-left;
    }
  }

  .slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

ion-modal.listing-gallery {

  --width: 100%;
  --height: 100%;

  .modal-wrapper {
    --background: transparent;
    --box-shadow: none;
  }
}
