.location-filter {
  padding: 20px 24px;

  .toolbar {
    display: flex;
    align-items: center;

    .spacer {
      flex-grow: 1;
    }

    .button-light {
      margin-left: 1.5rem;
      border: 1px solid black;
    }

    ion-button.close {
      --background-hover: transparent;
      --padding-end: 0;
      --ripple-color: transparent;
    }
  }

  ion-checkbox {
    --size: 0.75rem;
    margin-right: 0.25rem;
  }

  .checkboxes-container {
    max-height: 480px;
    display: flex;
    flex-direction: collumn;
    flex-wrap: wrap;
  }

  .region-container {
    flex: 1 1 auto;
    padding-top: 1rem;

    label {
      display: flex;
      flex-direction: row;
      align-items: center;
      font-weight: bold;
      font-size: 0.8rem;
    }

    .neighborhoods-container {
      max-height: 430px;
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(15, auto);
      padding-top: 0.5rem;

      label {
        flex: 1 1 15px;
        font-weight: normal;
        padding-top: 0.5rem;
        padding-right: 3rem;
      }
    }
  }

  .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
