@import '../../../styles/mixins';
@import '../../../styles/variables';

.page-neighborhoods {
  
  .hero {
    position: relative;
    width: 100%;
    height: 713px;

    @media only screen and (min-device-width: 320px) {
      height: 568px;
    }

    @include for-size(tablet-portrait-up) {
      height: 320px;
    }

    @include for-size(tablet-portrait-up) {
      height: 640px;
    }

    .hero-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cta {
      
      bottom: 129px;
      position: absolute;

      @include for-size(tablet-portrait-up) {
        bottom: 80px;
      }

      h1 {
        color: white;
        font-size: $font-size * 2;

        @media only screen and (min-device-width: 320px) {
          font-size: 30px;
        }

        @include for-size(tablet-portrait-up) {
          font-size: $font-size-lg * 2;
        }
      }

      .subtitle {
        color: white;
        line-height: 1.5;
        font-size: $font-size;
        margin-top: 0;
      }

      .light {
        background-color: white;
        height: 40px;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }

 /* neighborhoods styles */

  .neighborhoods {
    --auto-grid-min-size: 16rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
    grid-gap: 1rem;
    padding-left: 0px;
  }
  
  li {
    padding: 5rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    background: #eb4d4b;
    color: #ffffff;

  }

  .neighborhood-list {
    padding-top: 56px;
  }

  .neighborhoods-grid {
    /* Grid Fallback */
    display: flex;
    flex-wrap: wrap;
    
    /* Supports Grid */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
    grid-auto-rows: minmax(304px, auto);
    grid-gap: 40px;
    justify-items: center;
 
  }

  .module {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 368px;
    width: 304px;
    
    /* Flex Fallback */
    margin-left: 5px;
    margin-right: 5px;
    flex: 1 1 304px;
  
}

.neighborhood-card {
  position: relative;
  overflow: hidden;
  height: 368px;

  @include for-size(tablet-portrait-up) {
    max-width: 304px;
    height: 368px;
  }

  .neighborhood-title {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
    color: white;
    font-size: 15px;
    font-weight: 600;

    @include for-size(desktop-up) {
      font-size: 22px;
      font-weight: bold;
      bottom: 20px;
    }
  }

  .neighborhood-feature-image {
    max-width: 304px;
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: all 0.3s ease-in-out;
  }

  .hover-cover {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 115, 101, 0.35);
    transition: all 0.3s ease-in-out;
    transform: scale(0);
  }

  .hover-cover-text {
    position: absolute;
    top: 50%;
    left: -400px;
    width: 100%;
    text-align: center;
    color: white;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    .hover-cover {
      transform: scale(1);
    }

    .hover-cover-text {
      left: 0;
    }

    .neighborhood-feature-image {
      width: 125%;
      height: 125%
    }
  }
}


  .mobile-only {
    @include for-size(desktop-up) {
      display: none;
    }
  }

  .desktop-only {
    display: none;

    @include for-size(desktop-up) {
      display: block;
    }
  }

}
