{
  "//": "Entries with a key starting with // are comments, can be removed in the config.app.json",


  "//API_URL": "The url of the api, with NO trailing /",
  "API_URL": "http://laravel-stencil.localhost:8080/api",

  "//BASE_URL": "The url of the site itself, with NO trailing /",
  "BASE_URL": "http://laravel-stencil.localhost:8080"
}
