@import '../../styles/mixins';
@import '../../styles/variables';

.faq-accordian {
  .accordian-header {
    width: 100%;
    align-items: center;

    h4 {
      text-align: left;
      flex-grow: 1;
      font-size: $font-size;
      margin: 0;
      padding: 0;
    }

    ion-icon {
      font-size: 1.7rem;
    }
  }

  .accordian-content {
    max-height: 0;
    padding-right: 30px;
    overflow: hidden;
    // transition: max-height 0.3s ease-out;

    &.active {
      max-height: 400px;
    }

    @include for-size(tablet-portrait-up) {
      padding-right: 175px;
    }
  }
}
