@import '../../styles/mixins';
@import '../../styles/variables';

.page-home {
  .hero {
    position: relative;
    background-image: url('/assets/images/home-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ccc;
    background-blend-mode: multiply;
    width: 100%;
    height: 271px;

    @include for-size(tablet-portrait-up) {
      height: 320px;
    }

    @include for-size(desktop-up) {
      height: 640px;
    }

    .cta {
      position: absolute;
      bottom: 4rem;
      left: 3rem;
      max-width: 740px;

      h1 {
        color: white;
        font-size: 2rem;

        @include for-size(desktop-up) {
          font-size: 3rem;
        }
      }

      p {
        color: white;
        line-height: 1.5;
        font-size: 1rem;
      }

      .light {
        background-color: white;
        height: 40px;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 0.75rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}
