@import '../../../styles/variables';
@import '../../../styles/mixins';

$bg-highlight: rgba(5, 115, 101, 0.1);

.booking-details-component {
  width: 100%;

  .left,
  .right {
    width: 100%;
  }

  @include for-size(desktop-up) {
    display: flex;
    padding-top: 20px;

    .left {
      width: 60%;
      padding-right: 1.5rem;
    }

    .right {
      padding-top: 30px;
      width: 40%;
    }
  }

  .details-section {
    padding-bottom: 0.5rem;

    &.breakdown {
      border-top: 1px dashed black;
      border-bottom: 1px dashed black;
    }
  }

  .detail-item {
    display: flex;
    align-items: center;
    padding: 2px 8px;
    height: 24px;
    margin-left: -8px;

    &.highlight {
      color: #057365;
    }

    &.bg-highlight {
      background-color: $bg-highlight;
      height: 33px;
    }

    .info {
      width: 13px;
      vertical-align: middle;
      margin-right: 0.5rem;
    }

    .center {
      flex-grow: 1;
    }

    .arrow-right {
      transform: rotate(180deg);
    }

    .info-wrapper {
      position: relative;

      button {
        display: flex;
        align-items: center;
      }

      .tooltip {
        display: none;
        position: absolute;
        padding: 0.5rem;
        border: 1px solid black;
        width: 200px;
        font-size: 12px;
        left: 100%;
        top: 0;
        background-color: white;
        z-index: 1;
        text-align: center;
        border-radius: 4px;

        &.active {
          display: block;
        }

        .indicator {
          width: 6px;
          height: 6px;
          position: absolute;
          border-top: 1px solid black;
          border-left: 1px solid black;
          transform: rotate(-45deg);
          left: 0;
          top: calc(50% - 4px);
          margin-left: -4px;
          background: white;
        }
      }
    }
  }

  .action-buttons {
    padding-top: 14px;

    @include for-size(desktop-up) {
      padding-top: 50px;
    }

    button {
      padding-top: 16px;
      padding-bottom: 16px;

      &:first-child {
        margin-bottom: 8px;
      }
    }
  }

  .card {
    display: none;
    border: 1px solid #969499;
    font-size: $font-size-sm;

    @include for-size(desktop-up) {
      display: block;
    }

    .card-content {
      padding: 1rem 0.5rem 1.5rem;
    }

    h4 {
      margin: 0;
      text-transform: none;
    }

    .neighborhood {
      padding-bottom: 0.5rem;
    }

    .price {
      padding-bottom: 4px;
    }

    .feature-image {
      width: 100%;
      height: 160px;
      object-fit: cover;
    }

    .bed-bath {
      display: flex;
      align-items: center;
      font-size: $font-size-sm;
      padding-bottom: 0.5rem;

      &>div {
        display: flex;
        align-items: center;
      }

      .divider {
        padding: 0 1rem;
      }
    }

    .bedrooms,
    .bathrooms {
      width: 0.625rem;
      height: 0.625rem;
      margin-right: 0.25rem;

      @include for-size(desktop-up) {
        width: 1rem;
        height: 1rem;
        margin-right: 0.5rem;
      }
    }

    .bedrooms {
      margin-top: -1px;
    }

    .bathrooms {
      margin-top: -3px;
    }

    .webid {
      padding-top: 4px;
    }
  }

  .rating-amenities {
    display: flex;
    align-items: center;
    font-size: $font-size-sm;

    .amenities {
      padding-right: 0.5rem;
      padding-bottom: 4px;
    }
  }

  .guarantee {
    display: none;
    margin-top: 16px;
    background-color: $bg-highlight;
    padding: 1.5rem 1rem 54px;
    font-size: $font-size-md;

    &.desktop-only {
      @include for-size(desktop-up) {
        display: block;
        padding: 1.5rem 1rem 190px;
      }
    }

    &.mobile-only {
      display: block;

      @include for-size(desktop-up) {
        display: none;
      }
    }

    .title {
      font-weight: bold;

      lazy-image {
        width: 14px;
        vertical-align: middle;
        margin-right: 0.5rem;
      }
    }
  }

  .share-download {
    padding-top: 1.5rem;

    button {
      font-size: $font-size;
      text-align: center;
      width: 50%;

      lazy-image {
        height: 16px;
        max-width: 16px;
        max-height: 16px;
        margin-right: 0.5rem;
        vertical-align: middle;
      }
    }
  }
}
