$color-primary: #000000;
$color-primary-lighter: lighten($color-primary, 20%);
$color-secondary: #057365;
$color-secondary-light: #cde3e0;
$color-danger: red;

$border-color: #ededed;

$color-text-dark: #000000;

$font-size: 16px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 24px;
$font-size-xl: 32px;

// magic numbers used in calculations for dynamic things
$header-height: 112px;
$mobile-header-height: 75px;

$search-filters-desktop-height: 56px;
$search-view-filters-height: 48px;

$app-header-button-height: 48px;

$region-downtown-count: 23;
$region-midtown-count: 18;
$region-upper-manhattan-count: 10;

/*$font-default: "Proxima Nova", sans-serif;
$font-strong: 'Proxima Nova Black', sans-serif;
$font-title: 'Proxima Nova Extrabold', sans-serif;
*/

$font-default: proxima-nova, sans-serif;
$font-strong: proxima-nova, sans-serif;
$font-title: proxima-nova, sans-serif;
