$color-primary: #000000;
$color-primary-lighter: lighten($color-primary, 20%);
$color-secondary: #057365;

$border-color: #ededed;

$color-text-dark: #000000;

$font-size: 16px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 24px;

// magic numbers used in calculations for dynamic things
$header-height: 112px;
$mobile-header-height: 75px;

$search-filters-desktop-height: 56px;
$search-view-filters-height: 48px;

$app-header-button-height: 48px;

$region-downtown-count: 20;
$region-midtown-count: 11;
$region-upper-manhattan-count: 12;
