@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.page-terms {
  background: $bg-dark;
  overflow-y: auto;

  .page-terms-content {
    display: flex;
    justify-content: center;
    height: 100vh;
    color: $color-text-light;

    .content {
      width: 100%;
      max-width: 420px;
      padding: 30px;

      h1 {
        text-align: center;
        font-size: $font-size;
        font-family: $font-refer-title;
      }

      p {
        line-height: 1.29;
        letter-spacing: 0.6px;
        font-size: $font-size;
        font-family: $font-refer-default;

        @include for-size(custom-down, 380) {
          font-size: 13px;
        }
      }
    }
  }
}
