@import "../../../../styles/mixins";

.page-terms {
  background: black;
  overflow-x: auto;
  .page-terms-content {
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);
    color: #f5f5f7;
    .content {
      width: 100%;
      max-width: 420px;
      padding: 30px;
      font-size: 16px;
      h1 {
        text-align: center;
        font-size: 16px;
      }
    }
  }
}
