@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.filter-tag-component {
  display: inline-block;
  background-color: rgba($color-secondary, 0.2);
  font-size: $font-size-xs;
  height: 20px;
  display: inline-flex;
  align-items: center;
  padding: 0 0.25rem;
  border-radius: 12.5px;
  margin: 3px 0.5rem 3px 0;

  @include for-size(desktop-up) {
    height: 24px;
    padding: 0 0.75rem;
    border-radius: 15px;
    font-size: $font-size-sm;
  }

  button {
    padding-left: 0.5rem;
    padding-top: 3px;

    img {
      width: 10px;

      @include for-size(desktop-up) {
        font-size: 12px;
      }
    }
  }
}
