@import '../../../../styles/variables';

.filter-tag-component {
  display: inline-block;
  background-color: rgba($color-secondary, 0.2);
  font-size: $font-size-sm;
  height: 24px;
  display: inline-flex;
  align-items: center;
  padding: 0 0.75rem;
  border-radius: 15px;

  button {
    padding-left: 1rem;
  }
}
