@import '../../../styles/variables';

.referral-form-component {
  position: relative;
  font-family: $font-refer-default;

  .title {
    padding-bottom: 16px;
    font-size: 20px;
    color: $color-text-light;
    font-weight: bold;
    line-height: 20px;
    font-family: $font-refer-title;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  .arrowup {
    transition-duration: 0.4s;
    margin-left: 5px;
  }

  .arrowdown {
    transform: rotate(90deg);
    margin-left: 5px;
    transition-duration: 0.4s;
  }
  
  .form-content {
    text-align: center;
    &.submitted {
      visibility: hidden;
    }
  }

  .label {
    text-align: left;
    font-size: 12px;
    color: $color-text-light;
  }

  .apt212-input {
    border: solid 2px $color-text-light;
    background: transparent;
  }

  .button-dark {
    background: $color-text-light;
    color: $bg-dark;
    margin-top: 20px;
    text-transform: none;
    margin-bottom: 40px;
  }

  .input {
    padding-bottom: 0px;
    text-align: left;
  }
  
  .thank-you-msg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;

    p {
      font-size: $font-size-xl;
      font-weight: bold;
      line-height: 1.5;
    }

    ion-icon {
      font-size: 120px;
      color: $color-secondary;
    }
  }

  .error {
    label {
      color: red;
    }
  }
}
