@import "../../../../styles/mixins";

.page-admin-referrals {
  background-color: black;
  height: 100vh;
  color: #f5f5f7;
  padding: 30px;
  table {
    width: 100%;
    tr {
      height: 30px;
    }
  }
  thead {
    border: 1px solid;
  }
  h1 {
    text-transform: inherit;
    font-size: 16px;
    display: inline-block;
    margin-right: 80px;
  }
  .add-button {
    width: 199px;
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    background-color: #f5f5f7;
    color: #131414;
  }
  td,
  th {
    border-right: 1px solid;
    padding: 5px;
    &:first-child {
      border-left: 1px solid;
    }
  }
  tr {
    &:last-child {
      border-bottom: 1px solid;
    }
  }
}
