@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.page-admin-referrals {
  background-color: $bg-dark;
  font-family: $font-refer-default;
  color: $color-text-light;
  overflow-y: auto;

  table {
    width: 100%;
    white-space: nowrap;

    tr {
      height: 30px;
    }

    .email {
      max-width: 60px;
    }

    @include for-size(custom-down, 450) {
      .progress {
        padding: 0 10px;
        min-width: 220px;
      }

      .agent_name {
        min-width: 200px;
      }
    }

    .ref_name {
      min-width: 120px;
    }

    select {
      background-color: $bg-dark;
    }
  }

  .tbl-container {
    overflow: auto;
    height: calc(100vh - 120px);
    padding-top: 30px;
  }

  thead {
    border: 1px solid;
  }

  h1 {
    text-transform: inherit;
    font-size: $font-size;
    display: inline-block;
    margin-right: 80px;
  }

  .add-button {
    width: 199px;
    height: 50px;
    font-size: $font-size;
    font-weight: bold;
    background-color: $color-text-light;
    color: $bg-dark;
  }

  td,
  th {
    border-right: 1px solid;
    padding: 14px 16px !important;
    text-align: left;

    &:first-child {
      border-left: 1px solid;
    }
  }

  tr {
    &:last-child {
      border-bottom: 1px solid;
    }
  }
}
