@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.page-add-referral {
  background: $bg-dark;
  overflow-y: auto;

  .page-addreferral-content {
    display: flex;
    justify-content: center;
    height: calc(100vh - 120px);

    .form {
      max-width: 420px;
      padding: 0 12px;
      width: 100%;
    }
  }
}
