@import '../../../styles/mixins';
@import '../../../styles/variables';

.page-corporate-rooms {

  .static-button {
    font-size: 12px;
    width: 247px;
    height: 40px;

    @include for-size(tablet-portrait-up) { 
      width: 144px;
      height: 40px;
    }
  }

  .title {
    font-size: 21px;
  }

  .footer-wrapper {
    padding: 0 1rem;
  }

  h2 {
    font-size: $font-size-xl;
    text-transform: uppercase;
    margin: 0;
    font-weight: 900;

    @include for-size(tablet-portrait-up) {
      padding-bottom: 1rem;
    }
  }

  .tag-title {
      font-size: $font-size-lg;
      font-weight: bold;
      padding-top: 9px;
  }

  .faq {
    position: relative;
    margin-top: 5rem;
    height: 544px;
    color: white;

    .faq-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .faq-mask {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.5);
    }

    .faq-content-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .faq-content {
      display: block;
      width: 100%;
      height: 100%;
      padding: 33px 0px;

      & > :first-child {
        display: none;
      }

      @include for-size(desktop-up) {
        display: flex;
        padding: 50px 0px;

        & > :first-child {
          display: initial;
        }
      }
    }

    .button-light {
      font-size: $font-size-sm;
    }

    .title {
      font-size: $font-size * 3;
    }
  }

  
  .hero {
    position: relative;
    width: 100%;
    height: 713px;

    @media only screen and (min-device-width: 320px) {
      height: 568px;
    }

    @include for-size(tablet-portrait-up) {
      height: 320px;
    }

    @include for-size(tablet-portrait-up) {
      height: 640px;
    }

    .hero-bg {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .cta {
      bottom: 129px;
      position: absolute;

      @include for-size(tablet-portrait-up) {
        bottom: 80px;
      }

      h1 {
        color: white;
        font-size: $font-size * 2;

        @include for-size(tablet-portrait-up) {
          font-size: $font-size-lg * 2;
        }
      }

      .subtitle {
        color: white;
        line-height: 1.5;
        font-size: $font-size;
        margin-top: 0;
      }

      .light {
        background-color: white;
        height: 40px;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }

  .what-is-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 52px 0 0 0;
    
    @include for-size('tablet-portrait-up') {
      
      align-items: center;
      padding: 25px 25px 0px;
    }

    @include for-size('desktop-up') {
      flex-direction: row;
      align-items: center;
      padding: 102px 108px 0px;
    }

    @include for-size('desktop-up') {
      
    }

    .rooms {
      display: flex;
      flex-grow: 1;
      width: 100%;

      &> div {
       
        @include for-size(tablet-portrait-up) {
         
        }

        @include for-size(desktop-up) {
         
        }
      }

      h2, p {
        margin: 0;
        padding-bottom: 16px;
      }

      p {
        line-height: 24px;
        float: left;
      }

    }

    .image {
        position: relative;
        width: 100%;
        
        @include for-size(tablet-portrait-up) {
          margin-bottom: 0;
        }

        @include for-size(desktop-up) {
          margin-bottom: 0;
          
        }

        img {
          float: right;

          @include for-size(tablet-portrait-up) {
            float: left;
          }

          @include for-size(desktop-up) {
            float: right;
          }
        }
        
      }
  }

  .corporate-housing-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 52px 0;
    
    @include for-size('tablet-portrait-up') {
      align-items: left;
      padding: 25px 25px 0px;
    }

    @include for-size('desktop-up') {
      flex-direction: row;
      align-items: center;
      padding: 158px 108px 0px;
    }

    .rooms {
      display: flex;
      flex-grow: 1;
      width: 100%;

      &> div {
       
        @include for-size(tablet-portrait-up) {
         
        }

        @include for-size(desktop-up) {
         
        }
      }

      h2, p {
        margin: 0;
        padding-bottom: 16px;
      }

      p {
        line-height: 24px;
        float: right;
      }

    }

    .image {
        position: relative;
        width: 100%;
        
        @include for-size(tablet-portrait-up) {
          margin-bottom: 0;
        }

        @include for-size(desktop-up) {
          margin-bottom: 0;
          
        }

        img {
          float: left;
        }
        
      }
  }

  .callout {

    padding-top: 60px;
    padding-bottom: 42px;
    text-align: left;
    
    @include for-size(tablet-portrait-up) {
      margin: 0px 5px;
      padding-top: 0px;
      padding-bottom: 20px;
      text-align: center;
    }

    @include for-size(desktop-up) {
      margin: 0px 178px;
    }
    
    
  }


  .grid-wrapper {
    @include for-size(tablet-portrait-up) {
      margin: 0px 5px;
    }

    @include for-size(desktop-up) {
      margin: 0px 108px;
    }
  }

 

  .grid {
    display: flex;                       
    flex-wrap: wrap;                     
    justify-content: space-between;
    overflow: hidden;

    @include for-size(tablet-portrait-up) {
      justify-content: center;
    }

    @include for-size(desktop-up) {
      justify-content: space-between; 
    }

  }

  .heading {
    position: absolute;
    left: 28px;                        
    top: 17px;                      
    font-size: 28px;
    font-weight: 600;
    line-height: 1.5;
    color: #ffffff;
    height: 40px;

    @include for-size(tablet-portrait-up) {
      font-size: 32px;
      line-height: 1;
      top: 25px;
    }    
  }

  .copy {
    position: absolute;
    left: 28px;                        
    top: 80px;                      
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    color: #ffffff;
    text-align: left;
    max-width: 289px;

    @include for-size(tablet-portrait-up) {
      max-width: 336px;
      font-size: 14px;
    }

    @include for-size(desktop-up) {
      max-width: 336px;
      font-size: 16px;
      top: 85px;
    }
    
  }

  .cell {
    flex: 100%;       
    text-align: center;
    position: relative;
    margin-bottom: 28px;
    max-width: 387px;
    height: 288px;
    overflow: hidden;

    @include for-size(tablet-landscape-up) {
      flex: 0 0 50%;  
      padding-bottom: 20px;
      margin-left: 20px;
    }

    @include for-size(desktop-up) {
      flex: 0 0 32%;  
      padding-bottom: 28px;
      margin-left: 0px;
    }

    h2 {
      position:absolute;
    }

    img {
      //max-width: 387px;
      position: relative;
      height: 288px;
    }

  }

    .room-stats-wrapper {
        padding-top: 8px;

        @include for-size(tablet-portrait-up) {
           padding-top: 60px;
        }

        @include for-size(desktop-up) {
          padding-top: 178px;
       }
    }

    .room-stats {
        display: block;
        justify-content: space-between;
        

        @include for-size('tablet-portrait-up') {
            display: flex;
            padding-left: 20px;
        }

        @include for-size('desktop-up') {
          display: flex;
          padding-left: 108px;
          padding-right: 108px;
      }

        h3 {
            font-size: 24px;
            text-transform: none;
            font-weight: bold;
        }

        &.bottom {
            
            @include for-size('tablet-portrait-up') {
              padding-top: 140px;
              padding-bottom: 186px;
            }

            @include for-size('desktop-up') {
              padding-top: 90px;
              padding-bottom: 186px;
            }
        }


        .green-rectangle {
          width:298px;
          height:4px;
          background:#057365;
          margin-bottom: 20px;

          @include for-size('tablet-portrait-up') {
            width:240px;
            margin-bottom: 0;
          }

          @include for-size('desktop-up') {
            width:298px;
            margin-bottom: 0;
          }
      }
    }

    .room-stats .col {

        @include for-size('tablet-portrait-up') {
            width: 240px;
            height: 200px;
        }

        @include for-size('desktop-up') {
          width: 307px;
          height: 200px;
      }

        img {
            height: 51px;
            width: 56px;
        }
    }

    .mission {
      text-align: center;
      padding: 60px 0;
      p {
        font-size: 24px;
        line-height: 1.42;
      }

    @include for-size('tablet-portrait-up') {
        padding: 60px 25px 0;
        }

    @include for-size('desktop-up') {
      padding: 60px 0;
     
      }
    }

    .testimonials {
        width: 100%;
        height: 825px;
        background-color: black;
        color: white;
        text-align: center;

        @include for-size('tablet-portrait-up') {
            height: 632px;
        }

        .quote {
            padding-top: 264px;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.67;
            
            @include for-size('tablet-portrait-up') {
                padding-top: 120px;
                margin: auto;
                font-size: 33px;
                font-weight: 600;
                line-height: 1.25;
                width: 400px;
            }

            @include for-size('desktop-up') {
              padding-left: 224px;
              padding-right: 223px;
              padding-top: 221px;
              font-size: 32px;
              font-weight: 600;
              line-height: 1.25;
              width: 100%;
          }
        }

        .author {
            padding-top: 39px;
            font-size: 20px;
            font-weight: normal;

            @include for-size('tablet-portrait-up') {
               padding-top: 24px;
            }
        }

        .nav {

            padding-top: 76px;
            display: inline-block;

            @include for-size('tablet-portrait-up') {
                padding-top: 80px;
            }

            @include for-size('desktop-up') {
              padding-top: 148px;
          }
            
        }
    
        .circle {
            background: #585858;
            clip-path: circle(50%);
            height: 12px;
            width: 12px;
            float: left;
            margin-left: 12px;
        }
    }

    .faq {
        padding-top: 84px;
        margin: auto;
        text-align: center;

        @include for-size('tablet-portrait-up') {
            max-width: 676px;
            padding-top: 60px;
         }

         @include for-size('desktop-up') {
            padding-top: 80px;
         }
        

        h1 {
            font-family: $font-default;
            font-size: 32px;
            font-weight: bold;
            line-height: 1.25;
            padding-bottom: 40px;
        }

        
        .question {
            padding-bottom: 32px;

            @include for-size('tablet-portrait-up') {
                margin: auto;
                width: 506px;
             }
        
            h2 {
                font-family: $font-default;
                font-size: 24px;
                font-weight: bold;
                line-height: 1.25;
            }

            p {
                margin-bottom: 32px;
            }

            .rectangle {
                width:172px;
                height:2px;
                background:#d8d8d8;
                margin: auto;
            }

           
        }
    
    }

  .listing-list .show-all  {
    display: none;
  }

  .list-wrapper {
    @include for-size(tablet-portrait-up) {
      margin: 0 40px;
    }
  }

  .reasons-heading {

    padding-bottom: 40px;

    @include for-size(tablet-portrait-up) {
      max-width: 746px;
      text-align: center;
      margin: auto;
      padding-bottom: 70px;
    }

    h2 {
      margin: 0;
      padding-bottom: 16px;
      font-family: $font-strong;
      font-size: 28px;
      font-weight: bold;
      line-height: 1.43;
      text-align: center;
    }


  }

  .reasons-wrapper {

    text-align: center;

    @include for-size(tablet-landscape-up) {
      text-align: left;
    }

    h3 {
      margin: 0;
      padding-bottom: 16px;
      font-family: $font-strong;
      font-size: 28px;
      font-weight: bold;
      padding-top: 27px; 

      @include for-size(tablet-landscape-up) {
        padding-top: 0px;
      }
    }

    p {
      margin: 0;
      padding-bottom: 16px;
      line-height: 24px;
    }


    @include for-size(tablet-landscape-up) {
        margin: 20px;
      }

      @include for-size(desktop-up) {
        margin: 100px;
      }
  }
  
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 48px;

    @include for-size(tablet-landscape-up) {
      flex-direction: row;
    }

  }
  
  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    
    &.image {
      max-width: 424px;
      margin: 0 auto;
    }
  }
  
  .text-column {
    padding: 0;

    @include for-size(tablet-landscape-up) {
      padding-left: 85px;
    }
    
  }

  .learn-more {
    display: block;
    overflow: hidden;
    margin: 1em 0;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;

    @include for-size('desktop-up') {
      display: flex;
      text-align: left;
      padding-left: 108px;
      padding-right: 108px;
      margin-top: 131px;
    }

  }

  #learn-more-wrapper {
    > div {
        flex: 1;
    }
  }

  .predefined-search {
    padding-top: 80px;
    text-align: left;
    

    @include for-size(tablet-portrait-up) {
      padding-top: 60px;
    }

    @include for-size(desktop-up) {
      padding-top: 119px;
    }

    p {
      margin: 0;
      padding: 15px 0px 15px;

      @include for-size(tablet-portrait-up) {
        margin-bottom: 40px;
      }
    }
  }

  .mt-24 {
    margin-top: 24px;
  }

}
