/* Document Level Styles */

/*
  The imports below are needed to include our light dom css for global styles such as fonts and colors.
  You can comment out any of these imports if you do not need that css. For example, if you have your own
  global font family css then you can comment out the typography.css import.
*/

/** Core CSS required for ionic components to work property */
@import "~@ionic/core/css/core.css";

/** Basic CSS for apps built with Ionic */
@import "~@ionic/core/css/normalize.css";
@import "~@ionic/core/css/structure.css";
@import "~@ionic/core/css/typography.css";

/** Optional CSS utils that can be commented out */
// @import "~@ionic/core/css/padding.css";
// @import "~@ionic/core/css/float-elements.css";
// @import "~@ionic/core/css/text-alignment.css";
// @import "~@ionic/core/css/text-transformation.css";
// @import "~@ionic/core/css/flex-utils.css";

/*
  The CSS Variables below can be used to theme your app.
  For more info on CSS variables check out:
  https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

  More info about color theming using Ionic:
  https://ionicframework.com/docs/theming/color-generator
*/

@import '../styles/variables';
@import '../styles/mixins';
@import '../styles/forms';

html.md {
  --ion-default-font: 'Source Sans Pro', sans-serif;
}

:root {
  --ion-color-primary: #{$color-primary};
  --ion-color-secondary: #{$color-secondary};
  --ion-font-family: 'Source Sans Pro', sans-serif;
  --ion-default-font: 'Source Sans Pro', sans-serif;
  letter-spacing: 0;
}

/* visible to screen readers only - from bootstrap */
.sr-only {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
	-webkit-clip-path: inset(50%) !important;
		clip-path: inset(50%) !important;  /* 2 */
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;            /* 3 */
}

ion-button {
  --background-hover: #{$color-primary-lighter} !important;
  --border-radius: 0;
  --box-shadow: none !important;
  --ion-default-font: 'Source Sans Pro', sans-serif !important;
  --ion-font-family: 'Source Sans Pro', sans-serif !important;
  letter-spacing: normal !important;
  font-weight: bold;
  font-size: $font-size-md;
  letter-spacing: 0;

  @include for-size(desktop-up) {
    font-size: $font-size-sm;
  }

  &.reset {
    color: $color-primary;
    --background: transparent !important;
    --background-hover: transparent !important;
    --ripple-color: transparent !important;
    --background-activated: transparent !important;
    --color-activated: $color-primary;
    letter-spacing: 0;
    --box-shadow: none !important;
  }
}

button {
  font-size: $font-size-md;

  @include for-size(desktop-up) {
    font-size: $font-size-sm;
  }
}

html {
  font-size: $font-size; /* standard rem */
  font-family: 'Source Sans Pro', sans-serif;
  color: $color-text-dark;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

h2, h3, h4 {
  font-weight: 900;
  text-transform: uppercase;

  &.h1 {
    font-family: 'Montserrat', sans-serif;
  }
}

.flex-col-wrapper {
  display: flex;
  flex-direction: row;

  .col-1of2 {
    flex-grow: 1;
    flex-basis: 50%;
  }
}


.button-light,
.button-dark {
  display: inline-block;
  background-color: white;
  color: $color-primary;
  font-weight: bold;
  padding: 12px 18px;
}

.button-dark {
  background-color: $color-primary;
  color: white;
}

.no-padding {
  padding: o;
}

.no-margin {
  margin: 0;
}

.no-padding-margin {
  margin: 0;
  padding: 0;
}

.button-reset {
  font-size: 100%;
  font-family: inherit;
  border: 0;
  padding: 0;
  background: transparent;
  color: inherit;
  outline: 0;
}

.section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 3rem 0 3rem;

  @include for-size(phone-only) {
    padding: 0 1rem;
  }
}

.header-wrapper {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;

  .app-header {
    display: flex;
    align-items: center;
    // padding-top: 1rem;
    height: auto;

    @include for-size(tablet-portrait-up) {
      padding-top: 2rem;
    }

    @include for-size(desktop-up) {
      padding-top: 0;
      height: $header-height;
    }

    .logo-link {
      flex-grow: 1;

      @include for-size(desktop-up) {
        flex-grow: 0;
      }
    }

    .logo {
      height: 24px;
      min-width: 126px;
    }

    .header-center {
      height: 2px;

      @include for-size(desktop-up) {
        flex-grow: 1;
      }
    }
  }
}

.chat {
  --background-activated: #{$color-secondary};
  --background-hover: #{$color-secondary};
  --border-color: white;
  --border-width: 1px;

  @include for-size(desktop-up) {
    margin-right: 30px;
  }

  .chat-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.text-lower {
  text-transform: lowercase;
}

.text-upper {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

ion-checkbox {
  &.checkbox-checked:after {
    content: '';
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    top: 0;
    left: 0;
  }
}
