@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@import '../../styles/mixins';

.glide {
  .glide__arrow {
    background-color: rgba(0,0,0,0.7);
    border: 0;
    border-radius: 0;
    width: 20px;
    height: 24px;
    padding: 0;

    top: 28%;

    @include for-size(tablet-landscape-up) {
      top: 35%;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .glide__arrow--right {
    right: -10px;
  }

  .glide__arrow--left {
    left: -10px;
  }
}
