
.page-wishlist {
  .title {
    font-family: "Source Sans Pro";
    font-size: 42px;
    font-weight: 600;
    text-transform: none;
  }

  .subtitle {
    font-size: 24px;
    font-weight: normal;
    text-transform: none;
    margin-bottom: 2rem;
  }
}
