@import '../../../styles/mixins';
@import '../../../styles/variables';

.app-header-home {
    .app-header {
        position: relative;
        height: 75px;

        @include for-size(tablet-portrait-up) {
            padding-top: 0;
        }

        @include for-size(desktop-up) {
            height: 112px;
        }

        .logo {
            height: 27px;
            min-width: 136px;
          }

        .search {
          display: none;
          color: $home-white;

          @include for-size(desktop-up) {
            margin: 0 0 0 2.25rem;
            display: flex;
            align-items: center;
            text-align: left;
            background: $bg-dark;
            border: solid 1px #ffffff;
            padding: 0 .75rem;
            text-transform: uppercase;
            font-size: 0;
            width: auto;
          }

          .feather {
            width: 21px;
            height: 21px;

            @include for-size(desktop-up) {
              margin-right: 0.5rem;
            }
          }

          @include for-size(desktop-up) {
            width: 100%;
            max-width: 280px;
            margin-right: 2rem;
            font-size: $font-size-md;
            font-weight: normal;
            height: $app-header-input-height;
            box-shadow: 1px 1px 11px 0 black, 0 2px 4px 0 black;
          }
        }

        .header-right {
          display: flex;
          align-items: center;
          font-family: 'Proxima Nova A W01 Bold';
        }

        .nav {
            display: none;
            color: $home-white;
            padding-right: 3.5rem;
            text-transform: uppercase;

            @include for-size(desktop-up) {
                display: inline-block;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .mobile-wishlist {
          margin-top: -4px;
          font-size: 18px;
          padding-left: 0.5rem;
          padding-right: 0.5rem;
          font-weight: bold;

          ion-icon {
            font-size: 22px;
            vertical-align: middle;
          }

          @include for-size(desktop-up) {
            display: none;
          }
        }

        .call {
          display: none;
          font-size: 16px;
          font-family: 'Proxima Nova W01 Regular' !important;
          font-weight: bold !important;
          height: $app-header-button-height;
          text-transform: uppercase !important;
          --background: $home-white;
          --background-hover: transparent !important;
          --ripple-color: transparent !important;
          text-transform: none;
          color: #131414;
          padding: 0;

          ion-icon {
            padding-right: 0.5rem;
          }

          @include for-size(desktop-up) {
            display: inline-block;
            width: 147px;
          }
        }
      }

      .header-inner {
          background-color: #131414;
          color: $home-white;
      }
}
