@import '../../../styles/variables';
@import '../../../styles/mixins';

.app-wrapper {
  max-width: 1440px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 3rem 0 3rem;

  @include for-size(phone-only) {
    padding: 0 1rem;
  }
}
