@import "../../../../styles/mixins";

.page-general {
  background: black;
  overflow-x: auto;
  .page-general-content {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;

    .form {
      max-width: 420px;
      padding: 30px;
      width: 100%;
    }
  }
}
