@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.page-general {
  background: $bg-dark;
  overflow-x: auto;

  .page-general-content {
    height: calc(100vh - 120px);
    display: flex;
    justify-content: center;

    .form {
      max-width: 420px;
      padding: 30px;
      width: 100%;
    }
  }
}
