@import '../../../styles/mixins';
@import '../../../styles/variables';

.page-home {

  .title {
    font-size: 21px;
  }

  .hero {
    position: relative;
    background-image: url('/assets/images/home-hero.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ccc;
    background-blend-mode: multiply;
    width: 100%;
    height: 271px;

    @include for-size(tablet-portrait-up) {
      height: 320px;
    }

    @include for-size(desktop-up) {
      height: 640px;
    }

    .cta {
      position: absolute;
      bottom: 4rem;
      left: 3rem;
      max-width: 740px;

      h1 {
        color: white;
        font-size: $font-size * 2;

        @include for-size(desktop-up) {
          font-size: $font-size-lg * 2;
        }
      }

      .subtitle {
        color: white;
        line-height: 1.5;
        font-size: $font-size;
        margin-top: 0;
      }

      .light {
        background-color: white;
        height: 40px;
        color: $color-primary;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }

  .search-dark {
    background-color: $color-primary;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    border-radius: 0;
    margin-top: 3rem;
  }

  .home-about-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;

    @include for-size('desktop-up') {
      flex-direction: row-reverse;
      align-items: center;
    }

    .video {
      position: relative;
      width: 100%;
      margin-bottom: 50px;

      @include for-size(desktop-up) {
        width: 640px;
        height: 360px;
        margin-bottom: 0;
      }
    }

    .about {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;

      &> div {
        @include for-size(desktop-up) {
          max-width: 471px;
        }
      }

      h2 {
        font-size: 40px;
        padding-bottom: 1rem;
        text-transform: none;
        margin: 0;
      }
    }
  }

  .predefined-search {
    padding-top: 0;

    h2 {
      margin-bottom: 20px;
    }

    @include for-size(desktop-up) {
      padding-top: 70px;

      h2 {
        margin-bottom: 40px;
      };
    }
  }

  .mt-24 {
    margin-top: 24px;
  }

  .faq {
    position: relative;
    margin-top: 5rem;
    height: 544px;
    color: white;

    .faq-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .faq-mask {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.5);
    }

    .faq-content-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .faq-content {
      display: block;
      width: 100%;
      height: 100%;
      padding: 33px 0px;

      & > :first-child {
        display: none;
      }

      @include for-size(desktop-up) {
        display: flex;
        padding: 50px 0px;

        & > :first-child {
          display: initial;
        }
      }
    }

    .button-light {
      font-size: $font-size-sm;
    }

    .title {
      font-size: $font-size * 3;
    }
  }

  .home-features {
    padding-top: 5rem;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    @include for-size(tablet-portrait-up) {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    @include for-size(desktop-up) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .home-feature {
      display: flex;
      padding-bottom: 2rem;

      lazy-image {
        min-width: 23px;
        width: 23px;
        height: 23px;
        margin-right: 1.5rem;

        @include for-size(desktop-up) {
          min-width: 36px;
          width: 36px;
          height: 36px;
        }
      }

      .feature-content {
        max-width: 250px;

        h2 {
          font-size: $font-size;

          @include for-size(desktop-up) {
            font-size: $font-size-lg;
          }
        }
      }
    }
  }
}
