@import '../../../styles/mixins';
@import '../../../styles/variables';

.page-home {

  .home-hero {
    background-color: #131414;
  }

  .hero {
    display: flex;
    flex-direction: column;
    background-color: #131414;
    padding: 80px 0;
    align-items: center;

    @include for-size(desktop-up) {
      flex-direction: row;
      padding: 105px 0;
    }

    .hero-child {
      position: relative;
      max-width: 540px;
      max-height: 540px;

      &.info {
        max-width: none;
        max-height: none;
        width: 100%;
        flex-grow: 1;
        padding-top: 16px;

        @include for-size(desktop-up) {
          width: auto;
          padding-top: 0;
          padding-left: 129px;
        }
      }
    }

    .market-tab {
      font-size: 20px;
      color: $color-text-light;
      font-weight: normal;
      padding: 16px 14px;
      margin-bottom: -3px;

      &:hover {
        color: $bg-dark;
        background: $color-text-light;

        & ~ .home-search-wrapper {
          input {
            background-color: $color-text-light;
          }

          svg * {
            fill: $bg-dark;
          }
        }
      }
    }
  }

  .home-search-wrapper {
    position: relative;

    &:hover {
      .home-search {
        color: $bg-dark;
        background-color: $color-text-light;
      }

      svg * {
        fill: $bg-dark;
      }
    }

    .search-icon {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 26px;
      height: 26px;
    }
  }

 .home-search {
    flex: 1;
    width: 100%;
    height: 55px;
    border: solid 2px $color-text-light;
    background-color: #131414;
    margin-top: 0px;
    padding-left: 66px;
    font-size: 18px;
    color: $color-text-light;

    @include for-size(desktop-up) {
      margin-bottom: 100px;
    }

    &:focus {
      outline: none;
    }
  }

  .static-button {
    width: 100%;
    height: 50px;
    font-size: 16px;
    text-transform: none;

    @include for-size(desktop-up) {
      width: 190px;
    }
  }


  .search-dark {
    background-color: $color-primary;
    color: white;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 3rem;
    border-radius: 0;
    margin-top: 3rem;
  }

  .home-about-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;

    @include for-size(desktop-up) {
      flex-direction: row-reverse;
      align-items: center;
    }

    .phone {
      position: relative;
      width: 192px;
      margin: 0 auto 50px;
      text-align: center;

      @include for-size(tablet-portrait-up) {
        width: 100%;
      }

      @include for-size(desktop-up) {
        width: 640px;
        margin-bottom: 0;
      }
    }

    .about {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;

      &> div {
        @include for-size(desktop-up) {
          max-width: 471px;
        }
      }

      h2 {
        font-family: 'Proxima Nova W01 Extrabold';
        font-size: 28px;
        padding-bottom: 1rem;
        text-transform: none;
        margin: 0;
      }

      p {
        font-family: 'Proxima Nova W01 Regular';
      }
    }
  }

  .predefined-search {
    padding-top: 0;

    h2 {
      margin-bottom: 20px;
    }

    @include for-size(desktop-up) {
      padding-top: 70px;

      h2 {
        margin-bottom: 40px;
      };
    }
  }

  .mt-24 {
    margin-top: 24px;
  }

  .faq {
    position: relative;
    margin-top: 5rem;
    height: 544px;
    color: white;

    .faq-bg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .faq-mask {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.5);
    }

    .faq-content-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .faq-content {
      display: block;
      width: 100%;
      height: 100%;
      padding: 33px 0px;

      & > :first-child {
        display: none;
      }

      @include for-size(desktop-up) {
        display: flex;
        padding: 50px 0px;

        & > :first-child {
          display: initial;
        }
      }
    }

    .button-light {
      font-size: $font-size-sm;
    }

    .title {
      font-size: $font-size * 3;
    }
  }

  .home-features {
    padding-top: 5rem;

    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    @include for-size(tablet-portrait-up) {
      display: grid;
      grid-gap: 40px;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    }

    @include for-size(desktop-up) {
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }

    .home-feature {
      display: flex;
      padding-bottom: 2rem;

      lazy-image {
        min-width: 23px;
        width: 23px;
        height: 23px;
        margin-right: 1.5rem;

        @include for-size(desktop-up) {
          min-width: 36px;
          width: 36px;
          height: 36px;
        }
      }

      .feature-content {
        max-width: 250px;

        h2 {
          font-size: $font-size;

          @include for-size(desktop-up) {
            font-size: $font-size-lg;
          }
        }
      }
    }
  }

  .markets-grid {
    padding: 0 12px;
    margin: 24px 0 50px;

    @include for-size(tablet-portrait-up) {
      /* Grid Fallback */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      justify-items: center;
      margin: 80px 0 80px;
    }

  }

  .module {
    background: #eaeaea;
    display: block;
    margin: 0 auto 24px;
    min-height: 368px;
    max-width: 296px;
    width: 100%;

    @include for-size(custom-up, 340) {
      max-width: 325px;
    }

    @include for-size(tablet-portrait-up) {
      display: flex;
      justify-content: center;
      width: 325px;
      height: 368px;
      max-width: 325px;

      margin-left: 5px;
      margin-right: 5px;
      margin-bottom: 200px;
      flex: 1 1 325px;
    }
  }

  .markets-card {
    position: relative;
    overflow: hidden;
    height: 529px;
    box-shadow: 1px 1px 12px 0 rgba(92, 92, 92, 0.5);
    background-color: #ffffff;

    @include for-size(tablet-portrait-up) {
      max-width: 325px;
      height: 529px;
    }

    .markets-description {
      padding: 0 14px;

      p {
        font-family: 'Proxima Nova W01 Regular';
      }
    }

    .markets-title {
      font-family: 'Proxima Nova W01 Extrabold';
      width: 100%;
      font-size: 20px;
      font-weight: 800;
      text-transform: none;

      @include for-size(desktop-up) {
        font-size: 24px;
        font-weight: 800;
        bottom: 20px;
        text-transform: none;
      }
    }

    .markets-feature-image {
      max-width: 325px;
      width: 100%;
      object-fit: cover;
    }

    .learn-more {
      font-weight: 900;
    }
  }

  .agent-cta {
    margin-top: 40px;

    @include for-size(custom-up, 320) {
      background-size: 320px auto;
    }

    @include for-size(desktop-up) {
      display: flex;
      align-items: center;
      margin: 100px 0;
      min-height: 839px;
    }

    .cta-wrapper {
      @include for-size(desktop-up) {
        display: flex;
      }
    }

    .hexagons {
      flex-grow: 1;
      text-align: center;

      @include for-size(desktop-up) {
        text-align: left;
      }
    }

    .cta {
      text-align: left;
      align-self: center;

      @include for-size(desktop-up) {
        max-width: 513px;
      }
    }

    .mobile-only {
      @include for-size(desktop-up) {
        display: none;
      }
    }

    .desktop-only {
      display: none;

      @include for-size(desktop-up) {
        display: block;
      }
    }
  }

  .arrow-right {
    transform: rotate(180deg);
    vertical-align: middle;
    padding-right: 5px;
  }

  h2, h3, h4 {
    text-transform: none;
  }
}
