.apt212-popover {
  position: absolute;
  background-color: white;
  // transform: scale(0);
  // transform-origin: 0% 0%;
  // transition: all 0.2s ease-in-out;
  border: 1px solid #f0f0f0;
  transform-origin: 0% 0%;
  visibility: hidden;

  &.bind-top-left {
    transform-origin: 0% 0%;
  }

  &.bind-top-right {
    transform-origin: 100% 0%;
  }

  &.bind-bottom-left {
    transform-origin: 0% 100%;
  }

  &.bind-bottom-right {
    transform-origin: 100% 100%;
  }

  &.bind-top-center {
    transform-origin: 50% 0%;
  }

  &.initialized {
    visibility: visible;
    transform: scale(0);

    &.active {
      transform: scale(1);
      transition: all 0.2s ease-in-out;
    }
  }
}
