.apt212-checkbox {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-top: var(--apt212-checkbox-padding-top, 0);

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }

  .checkbox {
    display: inline-block;
    width: var(--apt212-checkbox-width, 10px);
    height: var(--apt212-checkbox-height, 10px);
    margin-right: var(--apt212-margin-right, 0.25rem);
    background-color: var(--apt212-checkbox-bg-color, #f8f8f8);
    border: var(--apt212-checkbox-border, 1px solid #c7c7c7);
    border-radius: var(--apt212-checkbox-border-radius, 0px);

    &.checked {
      background-color: var(--apt212-checkbox-checked-bg-color, black);
      border-color: var(--apt212-checkbox-checked-border-color, #454545);
    }
  }
}
