@import '../../styles/variables';
@import '../../styles/mixins';

.app-footer {
  width: 100%;
  margin-top: 5rem;
  padding-top: 79px;
  padding-bottom: 4rem;
  background-color: $bg-dark;
  color: white;
  min-height: 300px;

  .section {
    max-width: 1092px;
  }

  &.no-margin {
    margin-top: 0;
  }

  .footer-wrapper {
    @include for-size(tablet-landscape-up) {
      display: flex;
      flex-direction: row;
    }

    &:not(.first) {
      padding-top: 80px;
    }
  }

  .hr {
    border-top: 2px solid $color-text-light;
    padding-bottom: 31px;
  }

  .footer-col {
    flex-grow: 1;
    flex-basis: 50%;

    &.footer-center {
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 0%;

      @include for-size(tablet-landscape-up) {
        flex-basis: 33%;
      }
    }

    @include for-size(tablet-landscape-up) {
      flex-basis: 33%;
    }
  }

  .footer-links {
    @include for-size(tablet-portrait-up) {
      display: flex;
      flex-shrink: 0;
    }

    .links-left {
      flex-grow: 1;
    }

    .links-right {
      flex-shrink: 1
    }

    ion-router-link {
      display: block;
      padding: 0.5rem 0;
      color: white;
      text-transform: capitalize;
      font-weight: bold;
      font-size: 20px;

      &.skinny {
        font-size: 16px;
        font-weight: 400;
        padding: 0.65rem 0;
      }
    }
  }

  .footer-right {
    font-size: $font-size-md;
    padding-left: 84px;

    .input-webid {
      border: 0;
      margin-top: 1rem;
    }

    form.dark {

      &:first-child {
        padding-bottom: 16px;
      }

      input,
      input[type="text"],
      input[type="email"] {
        height: 55px;
        border: 2px solid $color-text-light;
        background-color: $bg-dark;
        font-size: 18px;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #9a9a9c;
        }
      }

      .reset:focus {
        outline: none;
      }

      .submit-inline {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-text-light;
        font-size: 16px;
        font-weight: bold;
        height: 55px;
        width: 96px;
      }

      button.submit-inline {
        margin-top: 16px;
      }

      p {
        font-size: 20px;
      }
    }

    .webid-icon {
      width: 26px;
      height: 26px;
      * {
        fill: #000000;
        // stroke: #000000;
      }
    }

    label {
      display: inline-block;
      padding-bottom: 0.5rem;
    }
  }

  .logo {
    height: 25px;
  }

  .copyright {
    display: none;
    font-size: $font-size;

    @include for-size(tablet-landscape-up) {
      display: block;
    }
  }

  .social-media {
    a {
      padding-right: 44px;
    }

    lazy-image {
      width: 32px;
      height: 32px;
    }
  }
}


