@import '../../styles/mixins';
@import '../../styles/variables';

.find-more-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 80px;

    h2 {
      padding-bottom: 0;
    }

    p {
      margin-top: 6px;
      line-height: 24px;
    }

    a {
      color: #057365;
      text-decoration: none;
    }

    @include for-size(tablet-portrait-up) {
      padding-top: 0px;
      margin: 60px 20px 90px;
      flex-direction: row;
    }

    @include for-size(desktop-up) {
      margin: 177px 118px 183px;
      flex-direction: row;
    }
    
    .col {
      flex: 1;
      text-align: center;


      @include for-size(tablet-portrait-up) {
        text-align: left;
        margin-bottom: 0px;

        &:nth-child(1) {
          padding-top: 76px;
        }
      }

      img {
        float: right;
        margin-bottom: 52px;

        @include for-size(tablet-portrait-up) {
            margin-bottom: 0px;
            width: 497px;
        }

        
      }
    }

    .last {
      margin-bottom: 49px;

      @include for-size(tablet-portrait-up) {
        margin-bottom: 0px;
      }
    }

  }