@import "../../../styles/mixins";
@import "../../../styles/variables";

.page-referral {
  .hero {
    width: 100%;
    min-height: 741px;

    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    color: #f5f5f7;

    @include for-size(desktop-up) {
      display: grid;
      grid-template-columns: 50% 50%;
    }
    .right-body {
      background: black;
      padding-top: 50px;
      display: flex;
      justify-content: center;
    }

    .left-body {
      background-image: url("/assets/images/referral_background.jpg");
      padding: 80px 107px 0px 170px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .cta {
      max-width: 470px;
      margin: 0 auto;
      font-size: 16px;
      min-height: 300px;
      h3 {
        font-size: 20px;
        margin-top: 0;

        @include for-size(desktop-up) {
          font-size: 28px;
        }
      }

      p {
        line-height: 1.29;
        letter-spacing: 0.6px;

        ion-router-link {
          color: white;
        }
      }

      .subtitle {
        line-height: 1.15;
        font-size: $font-size-lg;
        padding-bottom: 190px;
      }
    }

    .form {
      max-width: 420px;
      padding: 30px;
      width: 100%;
    }
  }
}
