@import '../../../styles/mixins';
@import '../../../styles/variables';

.page-referral {
  .hero {
    width: 100%;
    min-height: calc(100vh - 112px);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px;
    color: $color-text-light;

    @include for-size(desktop-up) {
      display: grid;
      grid-template-columns: 50% 50%;
    }

    .right-body {
      background: $bg-dark;
      padding-top: 55px;
      display: flex;
      justify-content: center;
    }

    .left-body {
      background-image: url('/assets/images/referral_background.jpg');
      padding-top: 80px;
      background-size: cover;
      background-repeat: no-repeat;
      font-family: $font-refer-default;
    }

    .underline {
      border-bottom: 2px solid $color-text-light;
    }
    
    .cta {
      max-width: 500px;
      margin: 0 auto;
      font-size: $font-size;
      min-height: 300px;

      h3 {
        font-size: 20px;
        margin-top: 0;

        @include for-size(desktop-up) {
          font-size: 28px;
        }
      }

      p {
        line-height: 1.29;
        letter-spacing: 0.6px;

        a {
          color: $color-text-light;
          text-decoration: none;
        }
      }

      .subtitle {
        line-height: 1.15;
        font-size: $font-size-lg;
        padding-bottom: 190px;
      }
    }

    .form {
      max-width: 420px;
      padding: 30px 0;
      width: 100%;
    }
  }
}
