.bathroom-filter {
  position: relative;
  width: 380px;
  height: 304px;
  padding: 1.5rem;
  font-weight: bold;

  .bathrooms {
    padding-top: 2rem;

    table {
      width: 100%;
      border: 0;

      td {
        width: 25%;
        padding: 5px;
      }
    }

    button {
      display: inline-block;
      margin: 0;
      height: 40px;
      width: 100%;
      max-width: 67px;
      background: black;
      color: white;
      font-size: 16px;

      &.inactive {
        background: white;
        color: black;
        border: 1px solid black;
        font-weight: bold;
      }

      &:focus {
        outline: none;
      }
    }
  }

  ion-button.close {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    z-index: 9999;
    --background-hover: transparent;
    --padding-end: 0;
    --ripple-color: transparent;
  }
}
