@import '../../styles/mixins';
@import '../../styles/variables';

.app-header {
  position: relative;

  .search {
    display: none;
    color: $bg-dark;

    @include for-size(desktop-up) {
      margin: 0 0 0 2.25rem;
      display: flex;
      align-items: center;
      text-align: left;
      background: white;
      padding: 0 .75rem;
      text-transform: uppercase;
      font-size: 0;
      width: auto;
    }

    .feather {
      width: 21px;
      height: 21px;

      @include for-size(desktop-up) {
        margin-right: 0.5rem;
      }
    }

    @include for-size(desktop-up) {
      width: 100%;
      max-width: 280px;
      margin-right: 2rem;
      font-size: $font-size-md;
      font-weight: normal;
      height: $app-header-input-height;
      box-shadow: 1px 1px 11px 0 rgba(239, 239, 239, 0.5), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    font-family: 'Proxima Nova W01 Regular';
  }

  .nav {
    display: none;
    padding-right: 3.5rem;
    text-transform: uppercase;

    @include for-size(desktop-up) {
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
    }
  }

  .mobile-wishlist {
    margin-top: -4px;
    font-size: 18px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;

    ion-icon {
      font-size: 22px;
      vertical-align: middle;
    }

    @include for-size(desktop-up) {
      display: none;
    }
  }

  .call {
    display: none;
    font-size: 16px;
    text-transform: uppercase !important;
    height: $app-header-button-height;
    font-family: 'Proxima Nova W01 Regular' !important;
    font-weight: bold !important;

    ion-icon {
      padding-right: 0.5rem;
    }

    @include for-size(desktop-up) {
      display: inline-block;
      width: 147px;
    }
  }
}

.header-inner {
  @include for-size(desktop-up) {
    .search-filters-wrapper {
      position: absolute;
      bottom: -56px;
    }
  }
}
