@import '../../styles/mixins';
@import '../../styles/variables';

.app-header {
  position: relative;

  .search {
    display: flex;
    align-items: center;
    text-align: left;
    background: transparent;
    border: 0;
    margin: -2px 0 0 0;
    padding: 0 1rem;
    text-transform: uppercase;
    font-size: 0;
    width: auto;

    @include for-size(desktop-up) {
      margin: 0 0 0 2.25rem;
    }

    .feather {
      width: 22px;
      height: 22px;

      @include for-size(desktop-up) {
        width: 1rem;
        margin-right: 0.5rem;
      }
    }

    @include for-size(desktop-up) {
      width: 100%;
      max-width: 365px;
      margin-right: 2rem;
      font-size: $font-size-md;
      font-weight: normal;
      height: $app-header-button-height;
      box-shadow: 0 0 11px 0 rgba(134, 134, 134, 0.22);
    }
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .nav {
    display: none;

    padding-right: 3.5rem;

    @include for-size(desktop-up) {
      display: inline-block;
      font-size: 20px;
      font-weight: normal;
    }
  }

  .mobile-wishlist {
    margin-top: -4px;
    font-size: 18px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-weight: bold;

    ion-icon {
      font-size: 22px;
      vertical-align: middle;
    }

    @include for-size(desktop-up) {
      display: none;
    }
  }

  .call {
    display: none;
    font-size: $font-size-sm;
    font-weight: bold;
    height: $app-header-button-height;

    ion-icon {
      padding-right: 0.5rem;
    }

    @include for-size(desktop-up) {
      display: inline-block;
    }
  }
}

.header-inner {
  @include for-size(desktop-up) {
    .search-filters-wrapper {
      position: absolute;
      bottom: -56px;
    }
  }
}
