@import '../../styles/mixins';
@import '../../styles/variables';

$app-header-button-height: 48px;

.app-header {
  position: relative;

  .search {
    display: flex;
    align-items: center;
    text-align: left;
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0 0 0 2.25rem;
    padding: 0.25rem 1rem;
    text-transform: uppercase;
    font-size: 0;
    width: auto;

    .feather {
      width: 22px;
      height: 22px;

      @include for-size(desktop-up) {
        width: 1rem;
        margin-right: 0.5rem;
      }
    }

    @include for-size(desktop-up) {
      width: 365px;
      font-size: $font-size-md;
      font-weight: normal;
      height: $app-header-button-height;
      box-shadow: 0 0 11px 0 rgba(134, 134, 134, 0.22);
    }
  }

  .header-right {
    display: flex;
    align-items: center;
  }

  .nav {
    display: none;
    text-transform: uppercase;
    padding-right: 3.5rem;

    @include for-size(desktop-up) {
      display: inline-block;
      font-size: $font-size;
      font-weight: normal;
    }
  }

  .call {
    display: none;
    font-size: $font-size-sm;
    font-weight: bold;
    height: $app-header-button-height;

    ion-icon {
      padding-right: 0.5rem;
    }

    @include for-size(desktop-up) {
      display: inline-block;
    }
  }

  .menu {
    --padding-start: 0.5rem;
    --padding-end: 0;
    --background-hover: transparent;
    --ripple-color: transparent;
    font-size: 16px;

    @include for-size(desktop-up) {
      --padding-start: 2rem;
    }
  }
}

.header-wrapper {
  .header-inner {
    position: relative;

    .search-filters-wrapper {
      position: absolute;
      width: 100%;
      background-color: white;
      bottom: -56px;
    }
  }
}
