@import '../../styles/mixins';
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "../../../node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.neighborhood-slider.glide {
  .glide__arrow {
    background-color: rgba(0,0,0,0.7);
    border: 0;
    border-radius: 0;
    height: 24px;
    width: 20px;
    padding: 0;

    @include for-size(tablet-landscape-up) {
      width: 40px;
      height: 56px;
    }

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  .glide__arrow--right {
    right: -10px;

    @include for-size(tablet-landscape-up) {
      right: -20px;
    }
  }

  .glide__arrow--left {
    left: -10px;

    @include for-size(tablet-landscape-up) {
      left: -20px;
    }
  }
}
