@import '../../../styles/mixins';
@import '../../../styles/variables';

.page-listing {
  .mobile-booking {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    background-color: white;
    padding: 10px;
    font-size: $font-size-sm;
    font-weight: bold;
    white-space: nowrap;
    line-height: 1.8;
    z-index: 2;
    box-shadow: inset 0 3px 3px -3px rgba(0,0,0,0.2);

    .rate-date-details {
      margin-right: 1rem;
    }

    .booking-details {
      padding-top: 18px;
      padding-bottom: 18px;
    }

    .highlight {
      font-size: $font-size * 1.25;
    }

    @include for-size(desktop-up) {
      display: none;
    }
  }
}


