.admin-header-component {
  .logo {
    height: 27px;
    min-width: 136px;
  }

  .admin-header {
    display: flex;
    align-items: center;
    padding-top: 34px;
    padding-bottom: 16px;
  }

  .menu {
    font-size: 16px;
    --padding-end: 0;
  }
}
