@import '../../../styles/mixins';
@import '../../../styles/variables';
@import url('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css');

.page-search {
  .section.main {
    padding: 0 0 0 1.5rem;
  }

  .search-wrapper {
    @include for-size(desktop-up) {
      padding-top: 50px;
      display: flex;

    }

    .search-results {
      position: relative;
      width: 50%;
      margin-top: -4px;

      .view-filters {
        position: sticky;
        display: flex;
        align-items: center;
        top: 168px;
        background: white;
        z-index: 1;
        height: 48px;
        //margin-left: -16px;
        box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5;
        overflow: hidden;

        button.view-nav {
          background: transparent;
          height: 100%;
          width: 48px;
          margin-top: -1px;

          svg {
            width: 20px;
          }

          &.active {
            background: $color-primary;

            svg * {
              fill: white;
            }
          }
        }

        ion-button.active {
          --background: black !important;
          color: white !important;
        }
      }
    }

    .results-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      padding: 2rem 1.5rem 1rem 0;

      .card-wrapper {
        display: inline-block;
        border: 1px solid #cbcbcb;
      }
    }

    .search-map {
      width: 50%;

      .map-wrapper {
        position: sticky;
        width: 100%;
        top: calc(#{$header-height} + 56px);

        // height of window, minus header height, minus filter height
        height: calc(100vh - #{$header-height} - 56px);
      }
    }
  }

  &.map {

  }

  &.grid {
    .search-results {
      width: 100%;

      .results-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }

    .search-map {
      display: none;
    }
  }
}
