@import '../../../styles/mixins';
@import '../../../styles/variables';

$map-height-mobile: calc(100vh - (#{$search-filters-desktop-height} + #{$search-view-filters-height} + #{$mobile-header-height}));
$map-height-desktop: calc(100vh - (#{$search-filters-desktop-height} + #{$header-height}));

$state-height-mobile: calc(100vh - (#{$search-filters-desktop-height} + #{$header-height} + #{$search-view-filters-height}));
$state-height-desktop: calc(100vh - (#{$search-filters-desktop-height} + #{$header-height} + #{$search-view-filters-height}));

.page-search {
  .section.main {
    padding: 0;

    @include for-size(desktop-up) {
      padding: 0 0 0 1.5rem;
    }
  }

  .search-wrapper {
    @include for-size(desktop-up) {
      display: flex;
    }

    .search-results {
      position: relative;
      width: 100%;

      .card-wrapper {
        border: 1px solid #cbcbcb;
      }

      .view-filters {
        display: flex;
        position: sticky;
        top: 0;
        align-items: center;
        background: white;
        z-index: 1;
        height: $search-view-filters-height;
        width: 100%;
        box-shadow: inset 0 -1px 0 0 #e5e5e5, inset 0 1px 0 0 #e5e5e5;
        overflow: hidden;
        z-index: 2;

        button.view-nav {
          background: transparent;
          height: 100%;
          width: 48px;
          margin-top: -1px;
          outline: 0;

          svg {
            width: 20px;
          }

          &.active {
            background: $color-primary;

            svg * {
              fill: white;
            }
          }
        }

        label {
          display: none;

          @include for-size(desktop-up) {
            display: inline-block;
            padding-left: 1rem;
          }
        }

        select {
          height: 32px;
          border: 1px solid #dfdfdf;
          font-size: $font-size-sm;
          margin-left: 1rem;
        }

        .results-count {
          display: none;
          padding-left: 1rem;

          @include for-size(desktop-up) {
            display: inline-block;
          }
        }

        button.dropdown {
          margin-left: 2rem;
          font-size: $font-size-md;
          height: $search-view-filters-height;

          ion-icon {
            margin-left: 0.25rem;
          }
        }

        @include for-size(desktop-up) {
          button.dropdown {
            font-size: $font-size;

            ion-icon {
              margin-left: 0.5rem;
            }
          }
        }
      }

      @include for-size(desktop-up) {
        width: 50%;
      }

      @include for-size(tablet) {
        max-height: calc(100vh - #{$mobile-header-height} - #{$search-filters-desktop-height});
      }
    }

    .search-map {
      position: relative;
      width: 100%;

      @include for-size(desktop-up) {
        width: 50%;
        padding-top: 0;
      }

      .map-wrapper {
        display: block;
        position: sticky;
        overflow: hidden;
        top: 0;
        width: 100%;
        height: $map-height-mobile;

        @include for-size(desktop-up) {
          width: 100%;
          height: $map-height-desktop;
        }
      }
    }

    @include for-size(tablet) {
      .results-wrapper {
        max-height: $map-height-mobile;
        overflow: hidden;
        overflow-y: scroll;
      }

      .mobile-map {
        position: fixed;
        width: 100%;
      }
    }

    .results-list {
      padding: 0 1.5rem 1rem 0;
      display: none;
    }
  }


  .empty-state,
  .loading-state {
    display: none;
    height: $state-height-mobile;

    @include for-size(desktop-up) {
      height: $state-height-desktop;
    }
  }

  &.no-results {
    .empty-state {
      display: block;
    }

    .results-wrapper {
      & > div:not(.empty-state) {
        display: none;
      }
    }

    .search-map {
      display: none;

      @include for-size(desktop-up) {
        display: block;
      }
    }
  }

  &.loading {
    .loading-state {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
      text-align: center;
    }

    .results-wrapper {
      & > div:not(.loading-state) {
        display: none;
      }
    }

    .search-map {
      display: none;

      @include for-size(desktop-up) {
        display: block;
      }
    }
  }

  &.grid {
    .search-results {
      width: 100%;

      .results-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        padding: 1.5rem 2rem 1.5rem;

        @include for-size(phone-only) {
          grid-template-columns: 1fr;
        }

        @include for-size(tablet-portrait-up) {
          grid-template-columns: 1fr 1fr;
        }

        @include for-size(tablet-landscape-up) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        @include for-size(desktop-up) {
          padding: 1.5rem 1.5rem 1rem 0;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
      }

      .results-list {
        display: none;
      }
    }

    .search-map {
      display: none;
    }
  }

  &.list {
    .search-results {
      width: 100%;

      .results-grid {
        display: none;
      }

      .results-list {
        display: block;
        padding: 1.5rem 0 1.5rem 0;

        @include for-size(desktop-up) {
          padding: 1.5rem 1.5rem 1rem 0;
        }
      }
    }

    .search-map {
      display: none;
    }
  }

  &.map {
    .search-results {

      @include for-size(desktop-up) {
        padding-top: 0;
      }

      .results-grid {
        display: none;

        @include for-size(desktop-up) {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 24px;
          padding: 1.5rem 1.5rem 1rem 0;
        }
      }
    }

    ion-infinite-scroll {
      display: none;

      @include for-size(desktop-up) {
        display: block;
      }
    }
  }

  .search-footer {
    display: none;
    z-index: 2;

    @include for-size(desktop-up) {
      display: block;
      position: fixed;
      bottom: 0;
      width: 100%;

      .toggle-footer-wrapper {
        position: relative;
      }

      .toggle-footer {
        position: absolute;
        display: flex;
        align-items: center;
        top: -48px;
        right: 52px;
        width: 190px;
        height: 48px;
        background: rgba(0,0,0, 0.8);
        color: white;
        text-transform: uppercase;
        display: inline-flex;
        font-size: $font-size-sm;
        font-weight: bold;
        padding: 0 1rem;

        span {
          text-align: left;
          flex-grow: 1;
        }
      }

      .footer-wrapper {
        max-height: 0;
        transition: all 0.2s ease-in;
      }
    }

    &.footer-open {
      .closed {
        display: none;
      }

      @include for-size(desktop-up) {
        .footer-wrapper {
          max-height: 620px;
        }
      }
    }

    &.footer-closed {
      .open {
        display: none;
      }
    }
  }
}
