@import '../../../styles/mixins';
@import '../../../styles/variables';
@import url('https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css');

.page-search {
  .section.main {
    padding: 0 0 0 1.5rem;
  }

  .search-wrapper {
    @include for-size(desktop-up) {
      padding-top: 60px;
      display: flex;

    }

    .search-results {
      width: 50%;

      .view-filters {
        height: 48px;
        //margin-left: -16px;

        button.view-nav {
          background: transparent;
          height: 47px;
          width: 48px;

          svg {
            width: 20px;
          }

          &.active {
            background: $color-primary;

            svg * {
              fill: white;
            }
          }
        }

        ion-button.active {
          --background: black !important;
          color: white !important;
        }
      }
    }

    .results-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      padding-right: 24px;
      padding-bottom: 1rem;

      .card-wrapper {
        display: inline-block;
        border: 1px solid #cbcbcb;
      }
    }

    .search-map {
      width: 50%;

      .map-wrapper {
        position: sticky;
        width: 100%;
        top: calc(#{$header-height} + 62px);

        // height of window, minus header height, minus filter height
        height: calc(100vh - #{$header-height} - 65px);
      }
    }
  }

  &.map {

  }
}
